.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;

}

.update {
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 8px;
    width: 470px;
    max-width: 90%;

}

.update-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}